
@{
    ViewData["Title"] = "PaymentSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="fl-center mar_container checkout_body">
    <div class="font_checkout flct fljct flcl gap" style="width:50%;height:500px;border:5px solid #ffffff">
        <div id="qrcode"></div>
        <div id="orderInfo"></div>
        <div>
            <button class="pay_complete">Hoàn thành</button>
        </div>
    </div>
</main>

<script src="../js/qr_code.js"></script>