@using Data.Models;
@model IEnumerable<DbGroup>
@foreach (var prd in Model)
{
    <li>
        <div class="flspb flct" style="width:100%">
            <img class="img-cate" src="@Url.Content("/images/"+prd.AnhDaiDien)" />
            <a class="name_cate" asp-controller="Home" asp-action="ProductTipe" asp-route-idnhom="@prd.IdNhom" style="margin-right:10%">@prd.GroupName</a>
        </div>
    </li>
}  