@using KLTN_YourLook.Models
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ChangePassViewModel
<main class="login-body mar_container">
    <div class="font-login">
        <div style="display:flex; justify-content:space-around;align-items:center">
            <div>
                <h3>Đổi mật khẩu</h3>
            </div>
        </div>
        @using (Html.BeginForm("ChangePassword", "Access", FormMethod.Post, new { }))
        {            
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <div class="space-address">
                <div class="inp">
                    <input asp-for="Email" type="text" readonly/>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
            <div class="space-address">
                <div class="inp">
                    <input asp-for="Pass" type="text" placeholder="Mật Khẩu..." />
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
            <div class="space-address">
                <div class="inp">
                    <input asp-for="ConfirmPass" type="text" placeholder="Nhập lại mật khẩu của bạn..." />
                </div>
            </div>
            <div class="btn-login">
                <button type="submit" class="btn-login">Đăng Ký</button>
            </div>
        }
        <div style="margin: 25px 0;display: flex;justify-content: space-between;">
            <a asp-action="Login">Bạn đã có tài khoản</a>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</main>