@using KLTN_YourLook.Models
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ForgotPasswordViewModel
<main class="login-body mar_container">
    <div class="font-login">
        <div style="display:flex; justify-content:space-around;align-items:center">
            <div>
                <h2>Quên Mật Khẩu</h2>
            </div>
        </div>
        <div>Nhập Email Cần Khôi Phục Mật Khẩu:</div>
        @using (Html.BeginForm("ForgotPassword", "Access", FormMethod.Post))
        {
            <div class="space-address">
                <div class="inp">
                    @Html.TextBoxFor(x => x.Email, new { @class = "input", placeholder = "Email...", type = "text", required = "required", autofocus = "autofocus" })
                </div>
            </div>
            <div class="space-address">
                <div class="inp">
                    <input placeholder="Nhập mã nhận được..." />
                </div>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger" style="display:flex;justify-content:center;">
                    @Html.ValidationSummary(true)
                </div>
            }
            <div class="btn-login">
                <button class="btn-login" type="submit">Gửi Mã</button>
            </div>
        }
        <div style="margin: 25px 0;display: flex;justify-content: space-between;">
            <a href="">Quay Lại</a>
        </div>
    </div>
</main>
<style>
    .validation-summary-errors ul li {
        color: red;
    }
</style>