@model Data.Models.DbAddress

@{
    ViewData["Title"] = "CreateAddress";
    Layout = "~/Views/Shared/_LayoutUD.cshtml";
}

<div class="inf-customer" style="">
    <div class="box-customer" style="background-color:#fff">
        <div class="fl">
            <div style="display:flex;align-items:center">
                <a href="@Url.Action("UserAddress")"><img style="height:15px" src="\icon\drop left.svg"></a>
			</div> 
            <div class="fl-center" style="width:100%">
				<h4 class="ttu" style="margin:0">Tạo Địa chỉ</h4>
			</div>
        </div>
        <form asp-action="CreateAddress" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="max-height:320px;overflow-x:hidden;overflow-y:auto">
                <div class="box-adr col-12" style="display:flex">
                    <div class="col-6">
                        <label class="ttu control-label">Khách hàng (người nhận):</label>
                        <input asp-for="TenNguoiNhan" class="form-control" />
                        <span asp-validation-for="TenNguoiNhan" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label class="ttu control-label">Số điện thoại:</label>
                        <input asp-for="Sdt" class="form-control" />
                        <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                </div>
                <div class="box-adr col-12" style="display:flex">
                    <div class="col-6">
                        <label class="ttu control-label">Địa chỉ chi tiết:</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label class="ttu control-label">Thành Phố:</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="box-adr col-12" style="display:flex">
                    <div class="col-6">
                        <label class="ttu control-label">Quận Huyện:</label>
                        <input asp-for="QuanHuyen" class="form-control" />
                        <span asp-validation-for="QuanHuyen" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label class="ttu control-label">Phường Xã:</label>
                        <input asp-for="PhuongXa" class="form-control" />
                        <span asp-validation-for="PhuongXa" class="text-danger"></span>
                    </div>
                </div>
                <div class="box-adr col-12" style="display:flex">
                    <div class="col-9">
                        <label class="ttu control-label">Ghi chú:</label>
                        <input asp-for="GhiChu" class="form-control" />
                        <span asp-validation-for="GhiChu" class="text-danger"></span>
                    </div>
                    <div class="col-3 fljct">
                        <div class="custom-control custom-checkbox talg flct">
                            @Html.CheckBoxFor(x => x.Idefault, new { @class = "form-check-input", @id = "customCheckbox2", @checked = "checked" })
                            <div for="customCheckbox2" class="ttu" style="margin:0">Mặc Định</div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-12" style="display:flex;justify-content:center">
                <div style="border-radius:10px">
                    <input type="submit" value="Lưu Địa Chỉ" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
