@model Data.Models.DbColor
@{
    ViewData["Title"] = "ColorUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="menu-cp">
    <div class="cp0">
        Sửa Màu
    </div>
    <div class="h-cp1">
        <div class="h-cp-up">
            <div style="display:flex;align-items:center;padding-top:15px">
                <a asp-action="Color"><img style="height:20px" src="\icon\drop left.svg" /> </a>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="ColorUpdate" method="post">
            <input type="hidden" asp-for="ColorId" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="CreateBy" />
            <div class="h-cp-mid-1">
                <div class="col-4">
                    <label class="control-label">Mã hex</label>
                    <input asp-for="MaHex" class="form-control" />
                    <span asp-validation-for="MaHex" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label class="control-label">Tên Màu</label>
                    <input asp-for="NameColor" id="input1" class="form-control" />
                    <span asp-validation-for="NameColor" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label class="control-label">Mã màu</label>
                    <input id="input2" asp-for="MaColor" class="form-control" readonly />
                    <span asp-validation-for="MaColor" class="text-danger"></span>
                </div>
            </div>
            <div class="h-cp-mid-1">
                <div class="mid-c">
                    <label class="control-label">Ngày Sửa</label>
                    <input id="dateInput" class="form-control" readonly />
                </div>
                <div class="mid-c">
                    <label class="control-label">Người Sửa</label>
                    <input class="form-control" value="@Context.Session.GetString("NameAdmin")" readonly />
                </div>
            </div>
            <div class="h-cp-dow fljct">
                <div class="mg">
                    <input type="submit" value="Lưu Thay Đổi" class="" />
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="~/js_admin/admin_originaltext.js"></script>
}
