@model Data.Models.DbCategory
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="menu-cp">
    <div class="cp0">
        Sửa Danh Mục 
    </div>
    <div class="h-cp1">
        <div class="h-cp-up">
            <div style="display:flex;align-items:center;padding-top:15px">
                <a asp-action="Category"><img style="height:20px" src="\icon\drop left.svg" /> </a>
            </div>
        </div>
        @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" asp-for="IdDm" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="CreateBy" />
            <div class="h-cp-mid-1">
                <div class="mid-c">
                    <label class="control-label">Tên danh Mục</label>
                    <input asp-for="TenDm" id="input1" class="form-control" />
                    <span asp-validation-for="TenDm" class="text-danger"></span>
				</div>
				<div class="mid-c">
					<label class="control-label">Mã danh Mục</label>
					<input asp-for="MaDm" id="input2" class="form-control" readonly/>
					<span asp-validation-for="MaDm" class="text-danger"></span>
				</div>
                <div class="mid-c">
                    <label class="control-label">Ảnh</label>
                    <input type="file" asp-for="AnhDaiDien" class="form-control" name="FileAnh" accept="image/*" />
                    <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                </div>
            </div>
            <div class="h-cp-dow fljct">
                <div class="mg">
                    <input type="submit" value="Lưu Thay Đổi" class="" />
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
    <script src="~/js_admin/admin_originaltext.js"></script>
}
